html,
body {
        font-family: 'Open Sans', sans-serif;
      }

.section {
    padding-top: 75px;
}

.next {
    font-size: 65px;
}

.next a {
    color: rgb(33, 37, 41);
}

.arrow-next {
    color: var(--bs-primary) !important;
}

.arrow-next:hover {
    color: var(--bs-primary-dark) !important;
}

.nav-item:hover {
    background-color: var(--bs-primary-dark)
}

.language-wrapper img,
.contact-wrapper a {
    height: 60px;
    transition-duration: 0.3s;
    transition-property: all;
}

.language-wrapper img:hover,
.contact-wrapper a:hover {
    transform: scale(1.2);
}
 /* Custom Card Styles */
  .custom-card {
    background-color: #3498db;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  .custom-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .custom-card-text {
    font-size: 1.1rem;
  }

  /* Custom List Styles */
  .custom-list {
    list-style: none;
    padding: 0;
  }

  .custom-list-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }

  .custom-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }

.class-card {
    background-color: #eeeeee;
    color: black;
    transition-property: all;
    transition-duration: 0.3s;
}

.class-card:hover {
    background-color: var(--bs-primary);
    color: white;
}

